*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    max-width: 1600px;
    height: 2908px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 85%;
    max-width: 1360px;
    height: 92px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 60px;
    width: 139px;
    margin-bottom: 16px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    opacity: 90%;
    
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 100%;
    height: 44px;
    width: 164px;
    margin-bottom: 24px;
    
}
.btn:hover{
    background-color: #259A56;
}
header{
    padding-top: 24px;
    width: 100%;
    max-width: 1600px;
    height: 766px;
}
#hero{
    margin: 0px 0px;
    /* align-items: center; */
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    

}
#hero .hero-container{
     width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 115.5px 120px 179.5px 120px;
}
#hero .hero-content{
    text-align: center;
    
}
.hero-content .btn1{
    margin-bottom: 16px;
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    width: 229px;
    height: 36px;
    opacity: 100%;
    gap: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
}
.btn1:hover{
    background-color: #F2F2F2;
}
.dot{
  width:10px;
  height:10px;
  background:#0f7a2f;
  border-radius:50%;
  box-shadow:0 0 0 8px rgba(34,197,94,.25);
  margin: 6px 6px;
}
.hero-content h1 .heading1{
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 75px;
}
.hero-content h1 .heading2{
    color: #30B868;
    font-weight: 700px;
    font-size: 75px;
}
.hero-content h1{
    margin-bottom: 16px;
}
.hero-content p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;

}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.primary-btn{
    border-radius: 4px;
    opacity: 100%;
    gap: 10px;
    background-color: #30B868;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 16.5px 46px 16.5px 16px;
    width: 251px;
    height: 52px;
    cursor: pointer;
    white-space: nowrap;
}
.primary-btn:hover{
    background-color: #259A56;
}
.secondary-btn{
    border-radius: 4px;
    opacity: 100%;
    gap: 10px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 16.5px 16px 16.5px 16px;
    width: 198px;
    height: 52px;
    cursor: pointer;
    white-space: nowrap;
}
.secondary-btn:hover{
     background: rgba(255, 255, 255, 0.1);
}
#item{
    width: 100%;
    max-width: 1600px;
    height: 448px;
}
#item .item-container{
    padding-top: 80px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.item-container .item-content{
    text-align: center;
    margin: 0 auto;
}
.item-content h1{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    margin-bottom: 16px;
}
.item-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.item-card{
    display: flex;
    gap: 24px;
    justify-content: center;

}
.item-info{
    height: 300px;
    width: 322px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    padding-top: 69.5px;
}
.image{
    width: 64px;
    height: 64px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    

    
}
.image img{
    
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    object-fit: contain;
    
}
.item-info h4{
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.item-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}
#brain{
    width: 100%;
    max-width: 1600px;
    height: 840px;
}
#brain .brain-container{
    padding-top: 120px;
    width: 85%;
    max-width: 1360px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    gap: 60px;

}
.brain-banner img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
}
.brain-content{
    margin: 102px 0;
}
.brain-content .p1{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20PX;
    color: #30B868;
    font-weight: 500px;
}
.brain-content h1{
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}
.brain-content .p2{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.brain-list{
    list-style-type: none;
}
.correct {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background: #22c55e;
  color: white;

  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;

  margin-right: 6px;
}
.brain-list li{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}
#problem{
    width: 100%;
    max-width: 1600px;
    height: 506px;
}
#problem .problem-container{
    background-color: #F7F6F2;
    width: 85%;
    max-width: 1360PX;
    margin: 2px auto 120px;
    height: 385px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
}
.problem-container h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    padding-top: 80px;
}
.problem-container .p3{
margin-bottom: 24px;
font-size: 16px;
line-height: 24px;
color: #627382;
}
.problem-btn{
    height: 52px;
    width: 194px;
    border-radius: 4px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px 46px 16.5px 16px;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 16px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
.problem-btn:hover{
    background-color: #259A56;
}
.problem-container .p4{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#last{
    padding-top: 120px;
    background-color: #001931;
    width: 100%;
    max-width: 1600px;
    height: 348px;
}
#last .foot-logo{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 64px;
    margin-bottom: 80px;
}
.foot-logo img{
    height: 60px;
    width: 139px;
}
.foot-content{
height: 64px;
width: 220px;
}
.foot-content p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.foot-content .social-list{
list-style-type: none;
display: flex;
gap: 16px;
}
.social-list li a{
    text-decoration: none;
}
#last .foot-end{
    width: 85%;
    max-width: 1360px;
    margin-bottom: 30px;
    margin: 0 auto;
}
.foot-end p{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
}
.foot-end .line{
    background: #2a4552;
    border: none;
    height: 1px;
}
.social-list li{
    border-radius: 50%;
    background-color: #FFFFFF;
}
.media{
    color: #000000;
}